<?xml version="1.0" encoding="utf-8"?> 
<configuration>
  <config>
    <add key="globalPackagesFolder" value="D:\Nuget\packages" />
    <add key="repositoryPath" value="D:\Nuget\packages" />
  </config>
  <packageSources>
    <add key="CABI NuGet Server" value="https://nuget.cabi.org/nuget/" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
