@page "/"

<h1>Hello, people of Earth!</h1>

This is a version of the app with an API call in it.  It's also intended to test things like health checks.'

<SurveyPrompt Title="How is Blazor working for you?" />
