@page "/throwerror"

<h1>Throw Error</h1>

<button class="btn btn-primary" @onclick="ThrowAnError">Make it fail</button>

@code {
    private void ThrowAnError()
    {
        throw new Exception("Deliberately throwing an exception!");
    }
}
